<div class="form-inline">
	<%= form_tag(products_path, :method => "get", id: "search-form") do %>
		<%= text_field_tag :search, params[:search], placeholder: "Search Products..", :class => 'form-control' %>
			<i id="clear-icon" class="fas fa-times fa-size"></i>
		<span id="search-btn" class="input-group-btn">
			<%= button_tag :submit, class: 'btn btn-green text-white flex' do %>
			    <i class="fas fa-search fa-size"></i>
			<% end %>
		</span>
		<span id="search-icon" class="input-group-btn">
			<a href="#" class="btn btn-green text-white flex">
				<i class="fas fa-search fa-size"></i>
			</a>
    	</span>
	<% end %>
</div>